 <!-- Info -->
 <div class="row">
    <div class="col">
      <div class="alert alert-info text-center" role="alert">
        <b>
          <i class="fa fa-bar-chart"></i>
          Koronavirus bo'yicha to'liq statistikani bizni saytimizdan oling
        </b>
      </div>
    </div>
  </div>
  <!-- /Info -->
  <!-- Update -->
  <div class="row">
    <div class="col">
   <p class="text-info text-center">
    <i class="fa fa-clock-o"></i> Qayta yuklangan vaqti: {{updateTime | date: 'medium'}}
      </p>
      
    </div>
  </div>
  <!-- /Update -->
  <!-- Main statistics -->
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>Jami tasdiqlangan:</h2>
        <h1 class="text-warning">109,744,108</h1>
        <h2>Vafot etganlar:</h2>
        <h1 class="text-danger">2,420,505</h1>
        <h2>Tuzalganlar:</h2>
        <h1 class="text-success">84,306,543</h1>
      </div>
    </div>
  </div>
  <!-- /Main statistics -->
